<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="#{comCopBlog.blogMasterVO.title}+' '+#{title.create}"></title>
    <div th:replace="~{cop/bls/fragment/linkFragment}"></div>
</head>

<body>
<div id="container">
    <nav class="krds-breadcrumb-wrap" aria-label="브레드크럼" id="breadcrumb">
        <ol class="breadcrumb">
            <li class="home"><a href="/" class="txt">홈</a></li>
            <li th:text="#{comCmm.cop.title}">협업</li>
        </ol>
    </nav>

    <h2 class="heading-large"><span th:text="#{comCopBlog.blogMasterVO.title}+' '+#{title.create}"></span></h2>

    <form id="insertForm" name="insertForm" th:object="${blogVO}">

        <div class="conts-wrap">
            <div class="fieldset input-form">
                <div class="form-group">
                    <div class="form-tit">
                        <label for="blogNm" th:text="#{comCopBlog.blogMasterVO.regist.blogNm}"></label>
                    </div>
                    <div class="form-conts">
                        <input type="text" id="blogNm" name="blogNm" class="krds-input" maxlength="70"
                               th:field="*{blogNm}"
                               th:placeholder="#{comCopBlog.blogMasterVO.regist.blogNm}+' '+#{input.input}">
                    </div>
                    <p class="form-hint-invalid" id="blogNmError" style="display:none"></p>
                </div>

                <div class="form-group">
                    <div class="form-tit">
                        <label for="blogIntrcn" th:text="#{comCopBlog.blogMasterVO.regist.blogIntrcn}"></label>
                    </div>
                    <div class="form-conts">
                        <div class="textarea-wrap">
                            <textarea id="blogIntrcn" name="blogIntrcn" maxlength="200" class="krds-input"
                                      th:field="*{blogIntrcn}"
                                      th:placeholder="#{comCopBlog.blogMasterVO.regist.blogIntrcn}+' '+#{input.input}"></textarea>
                            <p class="textarea-count">
                                <span id="textCount" class="text-primary">0</span>
                                <span class="text-num">/200</span></p>
                        </div>
                    </div>
                    <p class="form-hint-invalid" id="blogIntrcnError" style="display:none"></p>
                </div>

                <div class="form-group">
                    <div class="form-tit">
                        <label for="useAt" th:text="#{comCopBlog.blogMasterVO.regist.useAt}"></label>
                    </div>
                    <div class="form-conts">
                        <select class="krds-form-select" id="useAt" name="useAt" th:title="#{comCopBlog.blogMasterVO.regist.useAt}">
                            <option th:text="#{input.yes}" value="Y"></option>
                            <option th:text="#{input.no}" value="N"></option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="page-btn-wrap">
                <button type="button" class="krds-btn medium tertiary" th:text="#{button.list}" th:onclick="blogList()"></button>
                <button type="button" class="krds-btn medium" th:text="#{button.create}" th:onclick="blogInsert()"></button>
            </div>
        </div>
    </form>
</div>
<script th:inline="javascript" defer>
    $(document).ready(function() {
        $('#blogIntrcn').on('input', function() {
            $('#textCount').text($(this).val().length);
        });
    });

    function blogList() {
        $(location).attr('href', '/cop/bls/blogListView');
    }

    function blogInsert() {
        if (confirm('[(#{common.save.msg})]')) {
            $('#blogNmError, #blogIntrcnError').text('');
            $('#blogNmError, #blogIntrcnError').css('display','none');
            $.ajax({
                url: '/cop/bls/blogInsert',
                method: 'POST',
                data: $('#insertForm').serialize()
            }).done(function(response) {
                if(response.status === 'valid') {
                    $.each(response.errors, function(key, value) {
                        $('#'+key+'Error').text(value);
                        $('#'+key+'Error').css('display','block');
                    });
                } else if (response.status === 'error') {
                    alert('[(#{fail.common.insert})]');
                    blogList();
                } else {
                    alert('[(#{success.common.insert})]');
                    blogList();
                }
            }).fail(function(jqXHR, textStatus, errorThrown) {
                console.error("Error details:", textStatus, errorThrown);
                alert('[(#{fail.common.msg})]');
            });
        }
    }
</script>

</body>
</html>
