<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="#{comCopBlog.blogMasterVO.title}+' '+#{title.list}"></title>
    <div th:replace="~{cop/bls/fragment/linkFragment}"></div>
</head>

<body>
<div id="container">
    <nav class="krds-breadcrumb-wrap" aria-label="브레드크럼" id="breadcrumb">
        <ol class="breadcrumb">
            <li class="home"><a href="/" class="txt">홈</a></li>
            <li>협업</li>
        </ol>
    </nav>

    <h2 class="heading-large"><span th:text="#{comCopBlog.blogMasterVO.title}+' '+#{title.list}"></span></h2>

    <form id="listForm" name="listForm">
    <input type="hidden" th:id="searchCondition" th:name="searchCondition" th:value="1"/>
    <input type="hidden" th:id="blogId" th:name="blogId"/>
    <input type="hidden" th:id="pageIndex" th:name="pageIndex" th:value="1"/>

        <div class="form-group">
            <div class="search-wrap">
                <h3 class="search-tit" th:text="#{comCopBlog.blogMasterVO.list.blogNm}"></h3>
                <div class="form-conts btn-ico-wrap searchKeyword">
                    <input type="text" id="searchKeyword" name="searchKeyword" class="krds-input medium" th:placeholder="#{comCopBlog.blogMasterVO.list.searchPlaceholder}">
                    <button type="button" class="krds-btn medium icon"  th:onclick="blogSearch()">
                        <span class="sr-only" th:value="#{button.search}"></span>
                        <i class="svg-icon ico-sch"></i>
                    </button>
                </div>
                <button type="button" class="krds-btn medium" th:text="#{button.create}" th:onclick="blogCreate()"></button>
            </div>
        </div>

    </form>

    <div class="krds-table-wrap">
        <table class="tbl col data">
            <caption>블로그를 생성하고 등록된 블로그들에 대하여 관련된 속성정보를 관리할 수 있는 기능을 제공하는 컴포넌트</caption>
            <colgroup>
                <col style="width: 10%;">
                <col>
                <col style="width: 13%;">
                <col style="width: 13%;">
                <col style="width: 13%;">
            </colgroup>
            <thead>
                <tr>
                    <th scope="col" class="text-center"><span th:text="#{table.num}"></span></th>
                    <th scope="col" class="text-center"><span th:text="#{comCopBlog.blogMasterVO.list.blogNm}"></span></th>
                    <th scope="col" class="text-center"><span th:text="#{table.reger}"></span></th>
                    <th scope="col" class="text-center"><span th:text="#{table.regdate}"></span></th>
                    <th scope="col" class="text-center"><span th:text="#{comCopBlog.blogMasterVO.list.useAt}"></span></th>
                </tr>
            </thead>
            <tbody id="blog-list-container"></tbody>
        </table>
    </div>
    <div id="pagination-container" class="krds-pagination w-page"></div>
</div>

<script th:inline="javascript" defer>
    blogList();

    function blogSearch() {
        if (notNullCheck($('#searchKeyword').val())) {
            blogList();
        } else {
            alert('블로그명을 입력하세요.');
        }
    }

    // 2026.07.13 KISA 보안취약점 조치: 서버에서 내려온 신뢰할 수 없는 값을 HTML에 삽입하기 전 이스케이프 처리
    function escapeHtml(str) {
        if (str === null || str === undefined) return '';
        return String(str).replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/"/g, '&quot;').replace(/'/g, '&#39;');
    }

    function blogList() {
        $.ajax({
            url: '/cop/bls/blogList',
            method: 'POST',
            data: $('#listForm').serialize()
        }).done(function(response) {
            let blogList = response.blogList;
            let pagination = response.pagination;
            let paginationInfo = response.paginationInfo;

            let html = '';
            if (blogList.length > 0) {
                blogList.forEach(function (blog, index) {
                    let number = paginationInfo.totalRecordCount - paginationInfo.firstRecordIndex - index;
                    html += '<tr>';
                    html += '<td class="text-center">' + number + '</td>';
                    html += '<td class="text-center">' +
                        '<a class="krds-btn text medium" onclick="blogDetail(\'' + escapeHtml(blog.blogId) + '\')">' +
                        escapeHtml(blog.blogNm) + '</a></td>';
                    html += '<td class="text-center">' + escapeHtml(blog.userNm) + '</td>';
                    html += '<td class="text-center">' + escapeHtml(blog.frstRegistPnttm) + '</td>';
                    html += '<td class="text-center">' + escapeHtml(blog.useAt) + '</td>';
                    html += '</tr>';
                });
            } else {
                let noDataMsg = '[(#{common.nodata.msg})]';
                html += '<tr><td class="text-center" colspan="5">'+noDataMsg+'</td></tr>';
            }

            $('#blog-list-container').html(html);
            $('#pagination-container').html(pagination);
        }).fail(function(jqXHR, textStatus, errorThrown) {
            console.error("Error details:", textStatus, errorThrown);
            alert('[(#{fail.common.msg})]');
        });
    }

    function linkPage(pageIndex) {
        $('#pageIndex').val(pageIndex);
        blogList();
    }

    function blogDetail(blogId) {
        $('#blogId').val(blogId);
        $('#listForm').attr('method', 'post').attr('action', '/cop/bls/blogDetailView').submit();
    }

    function blogCreate() {
        $('#listForm').attr('method', 'post').attr('action', '/cop/bls/blogInsertView').submit();
    }
</script>

</body>
</html>
