<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="#{comCopBbs.boardMasterVO.title}+' '+#{title.list}"></title>
    <div th:replace="~{cop/cmy/fragment/linkFragment}"></div>
</head>

<body>
<div id="container">
    <nav class="krds-breadcrumb-wrap" aria-label="브레드크럼" id="breadcrumb">
        <ol class="breadcrumb">
            <li class="home"><a href="/" class="txt">홈</a></li>
            <li th:text="#{comCmm.cop.title}">협업</li>
        </ol>
    </nav>

    <h2 class="heading-large"><span th:text="${bbsMasterVO.cmmntyNm}+' '+#{comCopCmy.commuMasterVO.title}+''+#{comCopCmy.commuMasterVO.list.board}"></span></h2>

    <form id="listForm" name="listForm">
    <input type="hidden" th:id="bbsId" th:name="bbsId"/>
    <input type="hidden" th:id="cmmntyId" th:name="cmmntyId" th:value="${bbsMasterVO.cmmntyId}"/>
    <input type="hidden" th:id="cmmntyNm" th:name="cmmntyNm" th:value="${bbsMasterVO.cmmntyNm}"/>
    <input type="hidden" th:id="pageIndex" th:name="pageIndex" th:value="1"/>
        <div class="form-group">
            <div class="search-wrap">
                <div class="search-body">
                    <div class="form-conts searchOption">
                        <select id="searchCondition" name="searchCondition" class="krds-form-select" th:title="#{title.searchCondition}">
                            <option th:text="#{comCopBbs.boardMasterVO.list.bbsNm}" value="1" ></option>
                            <option th:text="#{comCopBbs.boardMasterVO.list.bbsIntrcn}" value="2" ></option>
                        </select>
                    </div>
                    <div class="form-conts btn-ico-wrap searchKeyword">
                        <input type="text" id="searchKeyword" name="searchKeyword" class="krds-input" placeholder="검색어를 입력하세요.">
                        <button type="button" class="krds-btn medium icon"  th:onclick="bbsMasterSearch()">
                            <span class="sr-only" th:value="#{button.search}"></span>
                            <i class="svg-icon ico-sch"></i>
                        </button>
                    </div>
                </div>
                <div class="page-btn-wrap">
                    <button type="button" class="krds-btn medium" th:text="#{button.create}" th:onclick="bbsMasterCreate()"></button>
                    <button type="button" class="krds-btn medium tertiary" th:text="#{comCopCmy.commuMasterVO.title}+''+#{button.list}" th:onclick="communityList()"></button>
                </div>
            </div>
        </div>
    </form>

    <div class="krds-table-wrap">
        <table class="tbl col data">
            <caption>통합게시판, 방명록 등의 게시판을 생성하고 등록된 게시판들에 대하여 관련된 속성정보를 관리할 수 있는 기능을 제공하는 컴포넌트</caption>
            <colgroup>
                <col style="width: 10%;">
                <col>
                <col style="width: 13%;">
                <col style="width: 13%;">
                <col style="width: 13%;">
            </colgroup>
            <thead>
                <tr>
                    <th scope="col" class="text-center"><span th:text="#{table.num}"></span></th>
                    <th scope="col" class="text-center"><span th:text="#{comCopBbs.boardMasterVO.list.bbsNm}"></span></th>
                    <th scope="col" class="text-center"><span th:text="#{table.reger}"></span></th>
                    <th scope="col" class="text-center"><span th:text="#{table.regdate}"></span></th>
                    <th scope="col" class="text-center"><span th:text="#{comCopBbs.boardMasterVO.list.useAt}"></span></th>
                </tr>
            </thead>
            <tbody id="bbsMaster-list-container"></tbody>
        </table>
    </div>

    <div id="pagination-container" class="krds-pagination w-page"></div>
</div>
<script th:inline="javascript" defer>
    function escapeHtml(s) {
        if (s == null || s === undefined) return '';
        return String(s)
            .replace(/&/g, '&amp;')
            .replace(/</g, '&lt;')
            .replace(/>/g, '&gt;')
            .replace(/"/g, '&quot;')
            .replace(/'/g, '&#039;');
    }
    function escapeJs(s) {
        if (s == null || s === undefined) return '';
        return String(s)
            .replace(/\\/g, '\\\\')
            .replace(/'/g, "\\'")
            .replace(/\n/g, '\\n')
            .replace(/\r/g, '\\r');
    }

    bbsMasterList();

    function bbsMasterSearch() {
        if (notNullCheck($('#searchKeyword').val())) {
            bbsMasterList();
        } else {
            alert('검색어를 입력하세요.');
        }
    }

    function bbsMasterList() {
        $.ajax({
            url: '/cop/cmy/bbsMasterList',
            method: 'POST',
            data: $('#listForm').serialize()
        }).done(function(response) {
            let bbsMasterList = response.bbsMasterList;
            let pagination = response.pagination;
            let paginationInfo = response.paginationInfo;

            let html = '';
            if (bbsMasterList.length > 0) {
                bbsMasterList.forEach(function (bbsMaster, index) {
                    let number = paginationInfo.totalRecordCount - paginationInfo.firstRecordIndex - index;
                    html += '<tr>';
                    html += '<td class="text-center">' + number + '</td>';
                    html += '<td class="text-center">' +
                        '<a class="krds-btn text medium" onclick="bbsMasterDetail(\'' + escapeJs(bbsMaster.bbsId) + '\')">' +
                        escapeHtml(bbsMaster.bbsNm) + '</a></td>';
                    html += '<td class="text-center">' + escapeHtml(bbsMaster.userNm) + '</td>';
                    html += '<td class="text-center">' + escapeHtml(bbsMaster.frstRegistPnttm) + '</td>';
                    html += '<td class="text-center">' + escapeHtml(bbsMaster.useAt) + '</td>';
                    html += '</tr>';
                });
            } else {
                let noDataMsg = '[(#{common.nodata.msg})]';
                html += '<tr><td class="text-center" colspan="5">'+noDataMsg+'</td></tr>';
            }

            $('#bbsMaster-list-container').html(html);
            $('#pagination-container').html(pagination);
        }).fail(function(jqXHR, textStatus, errorThrown) {
            console.error("Error details:", textStatus, errorThrown);
            alert('[(#{fail.common.msg})]');
        });
    }

    function linkPage(pageIndex) {
        $('#pageIndex').val(pageIndex);
        bbsMasterList();
    }

    function bbsMasterDetail(bbsId) {
        $('#bbsId').val(bbsId);
        $('#listForm').attr('method', 'post').attr('action', '/cop/cmy/bbsMasterDetailView').submit();
    }

    function bbsMasterCreate() {
        $('#listForm').attr('method', 'post').attr('action', '/cop/cmy/bbsMasterInsertView').submit();
    }

    function communityList() {
        $('#listForm').attr('method', 'post').attr('action', '/cop/cmy/communityListView').submit();
    }
</script>

</body>
</html>
